h2#title-carrinho {
    font-size: 40px;
    text-align: center;
}

#carrinho-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 120px;
}

.produto-item {
    border: 1px solid #cecece;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.produto-item img {
    max-width: 100px;
    width: 100%;
}

.produto-detalhes {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button.remover-item-btn {
    border: none;
    height: fit-content;
    margin: auto;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: red;
}

button.remover-item-btn:hover {
    cursor: pointer;
}