.swiper {
    padding: 30px;
    z-index: 0;
}

.carrossel-titulo {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    margin-top: 50px;
}

.item-slide {
    margin: 20px;
    padding: 20px;
    border:1px solid var(--borda-carrossel);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-slide > img{
    width: 100%;
    border-radius: 16px;
}

.item-slide h3 {
    font-size: 16px;
    font-weight: 500;
}

.item-slide p {
    font-size: 20px;
    font-weight: 600;
}

.item-slide span {
    font-size: 16px;
    font-weight: 400;
    color: var(--fonte-precoAntigo);
}

.item-slide button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    background-color: var(--cor-botao);
    width: 100%;
}

.item-slide button span {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600px;
    padding: 10px;
    color: var(--branco);
}

.item-slide button:hover {
    background-color: var(--cor-hover);
    cursor: pointer;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--borda-carrossel);
}
